@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  min-height: 100dvh;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
