<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recordatorio de Toma de Medicamento</title>
</head>
<body>
<p>Hola,</p>
<p>Este es un recordatorio para realizar tu tratamiento a las <span th:text="${hora}">hora</span>.</p>
<p>Tratamiento: <span th:text="${tratamiento}">tratamiento</span></p>
<p>Por favor, confirma si has realizado.</p>
<p>
    <a th:href="@{'/adherencia/confirmar?idHorario=' + ${idHorario}}">Confirmar</a> |
    <a th:href="@{'/adherencia/no-tomar?idHorario=' + ${idHorario}}">No he tomado</a>
</p>
</body>
</html>
